<div class="app" [class.boxed]="boxed$ | async" #root="$implicit" [dir]="dir" fullscreen>
  <app-navbar></app-navbar>

  <md-sidenav-container class="app-inner">
    <!--Site bar header-->
    <md-sidenav [opened]="sidebarExpanded$ | async" (close)="closeSidebar()" (open)="openSidebar()" #sidemenu class="site-sidebar"
      [mode]="isOver() ? 'over' : 'side'">
      <div class="site-menubar-header">
        <div class="cover overlay">
          <img class="cover-image" src="../assets/images/dashboard-header.jpg" alt="...">
          <div class="overlay-panel vertical-align overlay-background">
            <div class="vertical-align-middle">
              <div class="avatar avatar-lg">
                <img md-card-avatar src="../assets/avatars/1.png" alt="">
              </div>
              <div class="site-menubar-info">
                <h5 class="site-menubar-user">Krist</h5>
                <p class="site-menubar-email">binhbv@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <md-nav-list appAccordion class="navigation">
        <md-list-item appAccordionLink *ngFor="let menuitem of menuItems.getAll()" group="{{menuitem.route}}">
          <a appAccordionToggle class="relative" md-ripple [routerLink]="['/', menuitem.route]" *ngIf="menuitem.type === 'link'">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>
          <a appAccordionToggle class="relative" md-ripple href="{{menuitem.route}}" *ngIf="menuitem.type === 'extLink'">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>
          <a appAccordionToggle class="relative" md-ripple href="{{menuitem.route}}" target="_blank" *ngIf="menuitem.type === 'extTabLink'">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>
          <a appAccordionToggle class="relative" md-ripple href="javascript:;" *ngIf="menuitem.type === 'sub'">
            <md-icon>{{ menuitem.icon }}</md-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="badge md-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            <md-icon class="menu-caret">arrow_drop_up</md-icon>
          </a>
          <md-nav-list class="sub-menu" *ngIf="menuitem.type === 'sub'">
            <md-list-item *ngFor="let childitem of menuitem.children" routerLinkActive="open">
              <a [routerLink]="['/', menuitem.route, childitem.route ]" class="relative" md-ripple>{{ childitem.name | translate }}</a>
            </md-list-item>
          </md-nav-list>
        </md-list-item>
        <md-divider></md-divider>
      </md-nav-list>
    </md-sidenav>
    <!--End Site bar-->

    <!--Chat Panel-->
    <md-sidenav #end align="end" class="chat-panel" mode="over" [opened]="chatbarExpanded$ | async" (close)="closeChatbar()"
      (open)="openChatbar()">
      <md-tab-group [selectedIndex]="0" md-stretch-tabs>
        <md-tab>
          <ng-template md-tab-label>
            <button md-icon-button>
              <md-icon class="md-24">settings</md-icon>
            </button>
          </ng-template>
          <div class="scroll">
            <div class="scroll-content">
              <h4>GENERAL SETTINGS</h4>
              <div fxLayout="row" fxLayoutAlign="start center">
                <h4 fxFlex>Show recent activity</h4>
                <md-slide-toggle [checked]="true"></md-slide-toggle>
              </div>
              <p>Et harum quidem rerum facilis est et expedita distinctio.</p>
              <div fxLayout="row" fxLayoutAlign="start center">
                <h4 fxFlex>Show your emails</h4>
                <md-slide-toggle></md-slide-toggle>
              </div>
              <p>Et harum quidem rerum facilis est et expedita distinctio.</p>

              <div fxLayout="row" fxLayoutAlign="start center">
                <h4 fxFlex>Notifications</h4>
                <md-slide-toggle></md-slide-toggle>
              </div>
              <p>Et harum quidem rerum facilis est et expedita distinctio.</p>

              <div fxLayout="row" fxLayoutAlign="start center">
                <h4 fxFlex>Show Task statistics</h4>
                <md-slide-toggle></md-slide-toggle>
              </div>
              <p>Et harum quidem rerum facilis est et expedita distinctio.</p>
              <hr class="ma-10">
              <h4>TASK STATISTICS</h4>
              <div fxLayout="column" fxLayoutAlign="start center">
                <div fxLayout="row nowrap" fxFlexAlign="start">
                  <h4>Development</h4>
                </div>
                <md-progress-bar mode="determinate" [value]="70" color="primary"></md-progress-bar>
                <div fxLayout="row nowrap" fxFlexAlign="start">
                  <h4>Testing</h4>
                </div>
                <md-progress-bar mode="determinate" [value]="30" color="accent"></md-progress-bar>
                <div fxLayout="row nowrap" fxFlexAlign="start">
                  <h4>Release</h4>
                </div>
                <md-progress-bar mode="determinate" [value]="60" color="warn"></md-progress-bar>
              </div>
            </div>
          </div>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>
            <button md-icon-button>
                <md-icon class="md-24">person</md-icon>
            </button>
          </ng-template>
          <div class="scroll">
            <md-list>
              <md-list-item *ngFor="let message of messages">
                <img md-list-avatar [src]="message.image" alt="Image of {{message.from}}">
                <h4 md-line>{{message.from}}</h4>
                <p md-line>
                  <span>{{message.subject}} -- </span>
                  <span class="demo-secondary-text">{{message.message}}</span>
                </p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item *ngFor="let message of messages">
                <h4 md-line>{{message.from}}</h4>
                <p md-line> {{message.subject}} </p>
                <p md-line class="demo-secondary-text">{{message.message}} </p>
              </md-list-item>
            </md-list>
          </div>
        </md-tab>
      </md-tab-group>
    </md-sidenav>
    <!--End Chat Panel-->
    <div class="page">
      <router-outlet></router-outlet>
    </div>
    <footer class="site-footer">
      <div class="site-footer-legal">© {{today | date:'yyyy'}} <a href="#">ngCloudAdmin</a></div>
      <div class="site-footer-right">
        Created by <a href="#">Krist</a>
      </div>
    </footer>
    <!-- SKIN TOOLS -->
    <skin-tools></skin-tools>
    <!-- END SKIN TOOLS -->
  </md-sidenav-container>
</div>