<md-toolbar color="primary" class="topbar">
  <button md-icon-button (click)="toggleSidebar()">
    <md-icon class="md-24">{{sidebarExpanded? 'arrow_back':'menu'}}</md-icon>
  </button>
  <app-toggle-fullscreen></app-toggle-fullscreen>
  <button md-icon-button (click)="toggleSearchbar()">
    <md-icon class="md-24" >search</md-icon>
  </button>

  <div class="brand-toolbar">
    <img class="navbar-brand-logo" src="../assets/images/logo.png" title="Ng Cloud">
  </div>

  <!-- Navbar Toolbar Right -->
  <app-lang-switcher></app-lang-switcher>

  <button md-icon-button [mdMenuTriggerFor]="profilesMenu">
      <span class="avatar avatar-busy">
          <img src="assets/avatars/1.png">
          <i></i>
      </span>
      
    </button>
  <md-menu #profilesMenu="mdMenu" xPosition="before" [overlapTrigger]="false">
    <button md-menu-item *ngFor="let profileItem of profileItems" [routerLink]="[profileItem.route]">
        <md-icon class="md-24" >{{profileItem.icon}}</md-icon>
        <span class="text">{{profileItem.name}}</span>
      </button>
    <md-divider></md-divider>
    <button md-menu-item>
        <md-icon class="md-24" >exit_to_app</md-icon>
        <span class="text">Logout</span>
      </button>
  </md-menu>

  <button md-icon-button  (click)="changeTheme()">
        <md-icon class="md-24" >notifications</md-icon>
        <span class="badge md-red up">6</span>
    </button>

  <button md-icon-button  (click)="toggleNotification()">
        <md-icon class="md-24" >settings</md-icon>
    </button>
  <!-- End Navbar Toolbar Right -->

</md-toolbar>
<!-- Site Navbar Seach -->
<div class="navbar-search-overlap" [@toggleSearch]="_stateSearch" *ngIf="showSearch">
  <md-toolbar>
    <md-input-container class="full-width">
      <md-icon mdPrefix class="md-24">search</md-icon>
      <input #search mdInput type="text" placeholder="Search...">
    </md-input-container>
    <button md-icon-button (click)="toggleSearchbar()">
        <md-icon class="md-18">close</md-icon>
    </button>
  </md-toolbar>
</div>
<!-- End Site Navbar Seach -->