<div class="page">
  <md-toolbar class="header-toolbar">
    <ol class="breadcrumb">
      <li><a [routerLink]="['/home']">Home</a></li>
      <li><a [routerLink]="['/tables']">Tables</a></li>
      <li class="active">Pinning</li>
    </ol>
    <span fxFlex></span>
    <div fxShow="false" fxShow.gt-xs>
      <md-chip-list>
        <md-chip>
          <a target="_blank" href="https://github.com/valor-software/ng2-table">Official Website</a>
        </md-chip>
      </md-chip-list>

    </div>

  </md-toolbar>
  <div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex="100">
      <md-card>
        <md-card-title fxLayout="row" class="handle" fxLayoutAlign="start center">
          Pinner/ Horizontal Vertical Scrolling
          <span fxFlex></span>
          <button md-icon-button aria-label="Toggle"><md-icon>more_vert</md-icon></button>
        </md-card-title>
        <md-card-content>
          <ngx-datatable class="material" [columnMode]="'force'" [limit]="10" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
            [scrollbarV]="true" [scrollbarH]="true" [rows]="rows">
            <ngx-datatable-column name="Name" [width]="300" [frozenLeft]="true">
            </ngx-datatable-column>
            <ngx-datatable-column name="Gender">
            </ngx-datatable-column>
            <ngx-datatable-column name="Age">
            </ngx-datatable-column>
            <ngx-datatable-column name="City" [width]="300" prop="address">
            </ngx-datatable-column>
            <ngx-datatable-column name="Position" [width]="300" prop="position">
            </ngx-datatable-column>
            <ngx-datatable-column name="Start Date" [width]="300" prop="startDate">
            </ngx-datatable-column>
            <ngx-datatable-column name="DOB" [width]="300" prop="birthday">
            </ngx-datatable-column>
            <ngx-datatable-column name="State" [width]="300" prop="country">
            </ngx-datatable-column>
          </ngx-datatable>

        </md-card-content>
      </md-card>
    </div>

  </div>
</div>