.site-navbar {
  .mat-icon-button {
      position: relative;
      margin: 12px 0px;
      color: white;
      cursor: pointer;
  }

  .navbar-brand-logo{
    position: absolute;
    left: 50%;
    margin: 17px 0px;
  }

}
