.demo-chart {
  height: 400px;
}
.mat-slide-toggle{
    padding-top: 5px;
}
.handle {
    cursor: move;
}

// Map 
.sebm-google-map-container {
  height: 450px;
}

.contact {
  .mat-fab {
    position: absolute;
    right: 10px;
    top: 25px;
  }
  .mat-list{
    height: 395px;
    overflow-y: scroll;
  }
}
.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: none;
}
.mat-toolbar{
    background-color: transparent;
    padding: 5px;
}

.dashboard {
    margin: 10px 0px 10px;
}
.action-bar-underline {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 3px;
    margin-left: -10px;
    margin-right: -10px;
    .edit {
      background-color: #3f51b5;
    }
}

