<div class="page">
<md-toolbar class="page-header">
  <nav md-tab-nav-bar class="page-header-row">
    <a md-tab-link *ngFor="let tabLink of tabLinks; let i = index" [routerLink]="tabLink.link" [active]="activeLinkIndex === i"
      (click)="changeTab(i)">
      {{tabLink.label}}
    </a>
  </nav>
  <span fxFlex></span>
  <button *ngIf="activeLinkIndex === 0" (click)="customize()" md-button>
    <md-icon>{{dashboardEditMode? 'check':'mode_edit'}}</md-icon>{{dashboardEditMode? 'Done':'Customize'}}
  </button>
</md-toolbar>
<div class="action-bar-underline" [class.edit]="dashboardEditMode"></div>

  <router-outlet></router-outlet>
</div>