/* $main-panel
 ------------------------------------------*/
.app-inner {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - #{$mat-toolbar-height-desktop});
  @include flexbox;
  @include flex-direction(row);
}

/* Boxed layout*/

.app {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  .page {
    max-width: $page-centered-max-width;
    margin: 0 auto;
    position: relative;
    min-height: calc(100% - #{$site-footer-height});
  }
}

@media (min-width: $screen-lg-min) {
  .app.boxed {
    max-width: $layout-boxed-width;
    .navbar-search-overlap{
      margin-right: auto;
      margin-left: auto;
      max-width: $layout-boxed-width;
    }
  }
}


.mat-sidenav-content {
  min-height: 100%;
  box-sizing: border-box;
  @include flex-direction(column);
  @include flexbox;
  @include flex(1);
  overflow-y: auto;
  overflow-x: hidden;
  padding: $gutter;
}

.dark-theme .mat-sidenav-content {
  background-color: rgba(53, 53, 53, 1.00);
}