/* $main-panel
 ------------------------------------------*/
.app-inner {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - #{$mat-toolbar-height-desktop});
  @include flexbox;
  @include flex-direction(row);
}

/* Boxed layout*/

.app {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  .page {
    max-width: $page-centered-max-width;
    margin: 0 auto;
    position: relative;
    min-height: calc(100% - #{$site-footer-height});
  }
}

// @media (min-width: $screen-lg-min) {
//   .app.boxed {
//     max-width: $layout-boxed-width;
//     .navbar-search-overlap{
//       margin-right: auto;
//       margin-left: auto;
//       max-width: $layout-boxed-width;
//     }
//   }
// }


.mat-sidenav-content {
  min-height: 100%;
  box-sizing: border-box;
  @include flex-direction(column);
  @include flexbox;
  @include flex(1);
  overflow-y: auto;
  overflow-x: hidden;
  padding: $gutter;
}

.dark-theme .mat-sidenav-content {
  background-color: rgba(53, 53, 53, 1.00);
}

.avatar {
  position: relative;
  i {
    position: absolute;
    right: 0;
    bottom: -14px;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 100%;
  }
}
.avatar-lg {
  width: 50px;
  i {
    width: 12px;
    height: 12px;
  }
}
.avatar-online i {
  background-color: #4caf50;
}
.avatar-off i {
  background-color: #616161;
}
.avatar-busy i {
  background-color: #ff9800;
}
.avatar-away i {
  background-color: #f44336;
}
// pace loading css
.pace .pace-activity {top: 25px; left: 5px} .pace .pace-progress-inner {box-shadow: none;}

a:hover,
a:focus {
  text-decoration: none;
}