/* $main-panel
 ------------------------------------------*/
$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile-portrait: 56px !default;
$mat-toolbar-height-mobile-landscape: 48px !default;

.app-inner {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - #{$mat-toolbar-height-desktop});
  @include flexbox;
  @include flex-direction(row);
}

/* Boxed layout*/
.app.boxed {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

.mat-sidenav-content {
  min-height: 100%;
  //background: $main-panel-bg;
  box-sizing: border-box;
  @include flex-direction(column);
  @include flexbox;
  @include flex(1);
  overflow-y: auto;
  overflow-x: hidden;
  padding: $gutter;
}

.app-dark .mat-sidenav-content {
  background-color: rgba(53, 53, 53, 1.00);
}