<md-toolbar class="page-header">
  <ol class="breadcrumb">
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/tables']">Tables</a></li>
    <li class="active">Full Screen</li>
  </ol>
  <span fxFlex></span>
  <section>
    <button md-icon-button>
      <md-icon mdTooltip="Setting" class="md-24">settings</md-icon>
      </button>

    <button md-icon-button color="primary">
      <md-icon mdTooltip="Menu" class="md-24">menu</md-icon>
      </button>
  </section>
</md-toolbar>

<ngx-datatable class="material fullscreen" style="top: 82px; left: 8px" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="0"
  [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [rows]="rows">
  <ngx-datatable-column name="Name" [width]="300"></ngx-datatable-column>
  <ngx-datatable-column name="Gender"></ngx-datatable-column>
  <ngx-datatable-column name="Age"></ngx-datatable-column>
  <ngx-datatable-column name="Address" [width]="300" prop="address"></ngx-datatable-column>
  <ngx-datatable-column name="Country" [width]="300" prop="country"></ngx-datatable-column>
</ngx-datatable>