.ag-material {
  font-family: $font-family-base;
}

.dark-theme {
  .ag-material {
    font-family: $font-family-base;
    img {
      vertical-align: middle;
      border: 0;
    }
    .ag-root {
      border: 1px solid #808080;
    }
    .ag-cell-range-selected-1:not(.ag-cell-focus) {
      background-color: rgba(100, 160, 160, 0.4);
    }
    .ag-cell-range-selected-2:not(.ag-cell-focus) {
      background-color: rgba(100, 190, 190, 0.4);
    }
    .ag-cell-range-selected-3:not(.ag-cell-focus) {
      background-color: rgba(100, 220, 220, 0.4);
    }
    .ag-cell-range-selected-4:not(.ag-cell-focus) {
      background-color: rgba(100, 250, 250, 0.4);
    }
    .ag-cell-focus {
      border: 1px solid #a9a9a9;
    }
    .ag-cell-no-focus {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }
    .ag-ltr .ag-cell-no-focus {
      border-right: 1px dotted #808080;
      border-left: 1px solid transparent;
    }
    .ag-rtl .ag-cell-no-focus {
      border-right: 1px solid transparent;
      border-left: 1px dotted #808080;
    }
    .ag-rtl .ag-cell-first-right-pinned {
      border-left: 1px solid #808080;
    }
    .ag-ltr .ag-cell-first-right-pinned {
      border-left: 1px solid #808080;
    }
    .ag-rtl .ag-cell-last-left-pinned {
      border-right: 1px solid #808080;
    }
    .ag-ltr .ag-cell-last-left-pinned {
      border-right: 1px solid #808080;
    }
    .ag-cell-highlight {
      border: 1px solid #90ee90;
    }
    .ag-cell-highlight-animation {
      -webkit-transition: border 1s;
      -moz-transition: border 1s;
      -o-transition: border 1s;
      -ms-transition: border 1s;
      transition: border 1s;
    }
    .ag-value-change-value-highlight {
      background-color: #d2691e;
      -webkit-transition: background-color 0.1s;
      -moz-transition: background-color 0.1s;
      -o-transition: background-color 0.1s;
      -ms-transition: background-color 0.1s;
      transition: background-color 0.1s;
    }
    .ag-rich-select {
      font-size: 14px;
      border: 1px solid #808080;
      background-color: #302e2e;
    }
    .ag-rich-select-value {
      padding: 2px;
    }
    .ag-rich-select-list {
      border-top: 1px solid #555;
    }
    .ag-rich-select-row {
      padding: 2px;
    }
    .ag-rich-select-row-selected {
      background-color: #4a708b;
    }
    .ag-large-text {
      border: 1px solid #808080;
    }
    .ag-header-select-all {
      padding: 5px 0px 0px 3px;
      line-height: 0;
    }
    .ag-header {
      color: #e0e0e0;
      background: #626262;
      border-bottom: 1px solid #808080;
    }
    .ag-header-icon {
      color: #e0e0e0;
      stroke: none;
      fill: #e0e0e0;
    }
    .ag-no-scrolls .ag-header-container {
      background: #626262;
      border-bottom: 1px solid #808080;
    }
    .ag-ltr .ag-header-cell {
      border-right: 1px solid #808080;
    }
    .ag-rtl .ag-header-cell {
      border-left: 1px solid #808080;
    }
    .ag-header-cell-moving .ag-header-cell-label {
      opacity: 0.5;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: alpha(opacity=50);
    }
    .ag-header-cell-moving {
      background-color: #bebebe;
    }
    .ag-ltr .ag-header-group-cell {
      border-right: 1px solid #808080;
    }
    .ag-rtl .ag-header-group-cell {
      border-left: 1px solid #808080;
    }
    .ag-header-group-cell-with-group {
      border-bottom: 1px solid #808080;
    }
    .ag-header-cell-label {
      padding: 4px 2px 4px 2px;
    }
    .ag-header-cell-text {
      padding-left: 2px;
    }
    .ag-header-group-cell-label {
      padding: 4px;
    }
    .ag-ltr .ag-header-group-cell-label {
      padding-left: 10px;
    }
    .ag-rtl .ag-header-group-cell-label {
      padding-right: 10px;
    }
    .ag-rtl .ag-header-group-text {
      margin-left: 2px;
    }
    .ag-ltr .ag-header-group-text {
      margin-right: 2px;
    }
    .ag-header-cell-menu-button {
      padding: 2px;
      margin-top: 4px;
      margin-left: 1px;
      margin-right: 1px;
      border: 1px solid transparent;
      border-radius: 3px;
      -webkit-box-sizing: content-box/* When using bootstrap, box-sizing was set to 'border-box' */
      ;
      -moz-box-sizing: content-box/* When using bootstrap, box-sizing was set to 'border-box' */
      ;
      box-sizing: content-box/* When using bootstrap, box-sizing was set to 'border-box' */
      ;
      line-height: 0px/* normal line height, a space was appearing below the menu button */
      ;
    }
    .ag-ltr .ag-pinned-right-header {
      border-left: 1px solid #808080;
    }
    .ag-rtl .ag-pinned-left-header {
      border-right: 1px solid #808080;
    }
    .ag-header-cell-menu-button:hover {
      border: 1px solid #808080;
    }
    .ag-body {
      background-color: #302e2e;
    }
    .ag-row-odd {
      background-color: #302e2e;
    }
    .ag-row-even {
      background-color: #403e3e;
    }
    .ag-row-selected {
      background-color: #4a708b;
    }
    .ag-row-stub {
      background-color: #333;
    }
    .ag-stub-cell {
      padding: 2px 2px 2px 10px;
    }
    .ag-floating-top .ag-row {
      background-color: #333;
    }
    .ag-floating-bottom .ag-row {
      background-color: #333;
    }
    .ag-overlay-loading-wrapper {
      background-color: rgba(255, 255, 255, 0.5);
    }
    .ag-overlay-loading-center {
      background-color: #fff;
      border: 1px solid #808080;
      border-radius: 10px;
      padding: 10px;
      color: #000;
    }
    .ag-overlay-no-rows-center {
      background-color: #fff;
      border: 1px solid #808080;
      border-radius: 10px;
      padding: 10px;
    }
    .ag-group-cell-entire-row {
      background-color: #302e2e;
      padding: 2px;
    }
    .ag-footer-cell-entire-row {
      background-color: #302e2e;
      padding: 2px;
    }
    .ag-group-cell {
      font-style: italic;
    }
    .ag-ltr .ag-group-expanded {
      padding-right: 4px;
    }
    .ag-rtl .ag-group-expanded {
      padding-left: 4px;
    }
    .ag-ltr .ag-group-contracted {
      padding-right: 4px;
    }
    .ag-rtl .ag-group-contracted {
      padding-left: 4px;
    }
    .ag-ltr .ag-group-loading {
      padding-right: 4px;
    }
    .ag-rtl .ag-group-loading {
      padding-left: 4px;
    }
    .ag-ltr .ag-group-value {
      padding-right: 2px;
    }
    .ag-rtl .ag-group-value {
      padding-left: 2px;
    }
    .ag-ltr .ag-group-checkbox {
      padding-right: 2px;
    }
    .ag-rtl .ag-group-checkbox {
      padding-left: 2px;
    }
    .ag-group-child-count {
      display: inline-block;
    }
    .ag-footer-cell {
      font-style: italic;
    }
    .ag-menu {
      border: 1px solid #555;
      background-color: #302e2e;
      cursor: default;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
    }
    .ag-menu .ag-tab-header {
      background-color: #626262;
    }
    .ag-menu .ag-tab {
      padding: 6px 8px 6px 8px;
      margin: 2px 2px 0px 2px;
      display: inline-block;
      border-right: 1px solid transparent;
      border-left: 1px solid transparent;
      border-top: 1px solid transparent;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
    }
    .ag-menu .ag-tab-selected {
      background-color: #302e2e;
      border-right: 1px solid #555;
      border-left: 1px solid #555;
      border-top: 1px solid #555;
    }
    .ag-menu-separator {
      border-top: 1px solid #555;
    }
    .ag-menu-option-active {
      background-color: #4a708b;
    }
    .ag-menu-option-icon {
      padding: 2px 4px 2px 4px;
      vertical-align: middle;
    }
    .ag-menu-option-text {
      padding: 2px 4px 2px 4px;
      vertical-align: middle;
    }
    .ag-menu-option-shortcut {
      padding: 2px 2px 2px 2px;
      vertical-align: middle;
    }
    .ag-menu-option-popup-pointer {
      padding: 2px 4px 2px 4px;
      vertical-align: middle;
    }
    .ag-menu-option-disabled {
      opacity: 0.5;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: alpha(opacity=50);
    }
    .ag-menu-column-select-wrapper {
      margin: 2px;
    }
    .ag-filter-checkbox {
      position: relative;
      top: 2px;
      left: 2px;
    }
    .ag-filter-header-container {
      border-bottom: 1px solid #555;
    }
    .ag-filter-apply-panel {
      border-top: 1px solid #555;
      padding: 2px;
    }
    .ag-filter-value {
      margin-left: 4px;
    }
    .ag-ltr .ag-selection-checkbox {
      padding-right: 4px;
    }
    .ag-rtl .ag-selection-checkbox {
      padding-left: 4px;
    }
    .ag-paging-panel {
      padding: 4px;
    }
    .ag-paging-button {
      margin-left: 4px;
      margin-right: 4px;
    }
    .ag-paging-row-summary-panel {
      display: inline-block;
      width: 300px;
    }
    .ag-tool-panel {
      background-color: #302e2e;
      border-bottom: 1px solid #808080;
      border-top: 1px solid #808080;
      color: #ccc;
    }
    .ltr .ag-tool-panel {
      border-right: 1px solid #808080;
    }
    .rtl .ag-tool-panel {
      border-left: 1px solid #808080;
    }
    .ag-status-bar {
      color: #ccc;
      background-color: #302e2e;
      font-size: 14px;
      height: 22px;
      border-bottom: 1px solid #808080;
      border-left: 1px solid #808080;
      border-right: 1px solid #808080;
      padding: 2px;
    }
    .ag-status-bar-aggregations {
      float: right;
    }
    .ag-status-bar-item {
      padding-left: 10px;
    }
    .ag-column-drop-cell {
      background: #403e3e;
      color: #e0e0e0;
      border: 1px solid #666;
    }
    .ag-column-drop-cell-ghost {
      opacity: 0.5;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: alpha(opacity=50);
    }
    .ag-column-drop-cell-text {
      padding-left: 2px;
      padding-right: 2px;
    }
    .ag-column-drop-cell-button {
      border: 1px solid transparent;
      padding-left: 2px;
      padding-right: 2px;
      border-radius: 3px;
    }
    .ag-column-drop-cell-button:hover {
      border: 1px solid #808080;
    }
    .ag-column-drop-empty-message {
      padding-left: 2px;
      padding-right: 2px;
      color: #808080;
    }
    .ag-column-drop-icon {
      margin: 3px;
    }
    .ag-column-drop {
      background-color: #302e2e;
    }
    .ag-column-drop-horizontal {
      padding: 2px;
      border-top: 1px solid #808080;
      border-left: 1px solid #808080;
      border-right: 1px solid #808080;
    }
    .ag-column-drop-vertical {
      padding: 4px 4px 10px 4px;
      border-bottom: 1px solid #808080;
    }
    .ag-column-drop-vertical .ag-column-drop-cell {
      margin-top: 2px;
    }
    .ag-column-drop-vertical .ag-column-drop-empty-message {
      text-align: center;
      padding: 5px;
    }
    .ag-pivot-mode {
      border-bottom: 1px solid #808080;
      padding: 4px;
      background-color: #302e2e;
    }
    .ag-tool-panel .ag-column-select-panel {
      border-bottom: 1px solid #808080;
    }
    .ag-select-agg-func-popup {
      cursor: default;
      position: absolute;
      font-size: 14px;
      background-color: #302e2e;
      border: 1px solid #808080;
    }
    .ag-select-agg-func-item {
      padding-left: 2px;
      padding-right: 2px;
    }
    .ag-select-agg-func-item:hover {
      background-color: #4a708b;
    }
     ::-webkit-scrollbar {
      width: 12px;
      height: 12px;
      background: #302e2e;
    }
     ::-webkit-scrollbar-thumb {
      background-color: #626262;
    }
     ::-webkit-scrollbar-corner {
      background: #302e2e;
    }
    select {
      background-color: #302e2e;
      color: #ccc;
    }
    input {
      background-color: #302e2e;
      color: #ccc;
    }
    .ag-floating-filter-button {
      background-color: #302e2e;
      color: #ccc;
    }
    .ag-floating-filter-body input {
      background-color: #302e2e;
      color: #ccc;
    }
  }
}