.cal-day-view {
    .cal-hour-rows {
      border-top: 0;
      border-bottom: 0;
      border-color: mat-color($foreground, divider);
    }

    .cal-hour:nth-child(odd) {
      background-color: mat-color($background, 'hover');
    }

    .cal-hour:not(:last-child) .cal-hour-segment,
    .cal-hour:last-child :not(:last-child) .cal-hour-segment {
      border-color: mat-color($foreground, divider);
    }

    .cal-hour-segment:hover {
      background-color: mat-color($background, 'hover');
    }
  }

  .cal-month-view {
    .cal-cell-row:hover {
      background-color: mat-color($background, 'hover');
    }

    .cal-cell-row .cal-cell:hover,
    .cal-cell.cal-has-events.cal-open {
      background-color: mat-color($background, 'hover');
    }

    .cal-days {
      border-color: mat-color($foreground, divider);
    }

    .cal-day-cell:not(:last-child) {
      border-color: mat-color($foreground, divider);
    }

    .cal-days .cal-cell-row {
      border-color: mat-color($foreground, divider);
    }

    .cal-open-day-events {
      box-shadow: none;
    }
  }

  .cal-week-view {
    .cal-day-headers {
      border-color: mat-color($foreground, divider);
    }

    .cal-day-headers .cal-header:not(:last-child) {
      border-color: mat-color($foreground, divider);
    }

    .cal-day-headers .cal-header:hover {
      background-color: mat-color($background, 'hover');
    }

    .cal-event.cal-starts-within-week {
      border-top-left-radius: $border-radius-base;
      border-bottom-left-radius: $border-radius-base;;
    }

    .cal-event.cal-ends-within-week {
      border-top-right-radius: $border-radius-base;;
      border-bottom-right-radius: $border-radius-base;;
    }
  }

  .cal-month-view .cal-days,
  .cal-day-view .cal-hour-rows,
  .cal-week-view .cal-day-headers  {
    border-left: 0;
    border-right: 0;
  }
.cal-month-view .cal-day-cell.cal-today .cal-day-number {
    color: rebeccapurple;
}