$color-red              : mat-color($mat-red, 500);
$color-red-50           : mat-color($mat-red, 50);
$color-red-100          : mat-color($mat-red, 100);
$color-red-200          : mat-color($mat-red, 200);
$color-red-300          : mat-color($mat-red, 300);
$color-red-400          : mat-color($mat-red, 400);
$color-red-500          : mat-color($mat-red, 500);
$color-red-600          : mat-color($mat-red, 600);
$color-red-700          : mat-color($mat-red, 700);
$color-red-800          : mat-color($mat-red, 800);
$color-red-900          : mat-color($mat-red, 900);
$color-red-a100         : mat-color($mat-red, A100);
$color-red-a200         : mat-color($mat-red, A200);
$color-red-a400         : mat-color($mat-red, A400);
$color-red-a700         : mat-color($mat-red, A700);

$color-pink              : mat-color($mat-pink, 500);
$color-pink-50           : mat-color($mat-pink, 50);
$color-pink-100          : mat-color($mat-pink, 100);
$color-pink-200          : mat-color($mat-pink, 200);
$color-pink-300          : mat-color($mat-pink, 300);
$color-pink-400          : mat-color($mat-pink, 400);
$color-pink-500          : mat-color($mat-pink, 500);
$color-pink-600          : mat-color($mat-pink, 600);
$color-pink-700          : mat-color($mat-pink, 700);
$color-pink-800          : mat-color($mat-pink, 800);
$color-pink-900          : mat-color($mat-pink, 900);
$color-pink-a100         : mat-color($mat-pink, A100);
$color-pink-a200         : mat-color($mat-pink, A200);
$color-pink-a400         : mat-color($mat-pink, A400);
$color-pink-a700         : mat-color($mat-pink, A700);

$color-purple              : mat-color($mat-purple, 500);
$color-purple-50           : mat-color($mat-purple, 50);
$color-purple-100          : mat-color($mat-purple, 100);
$color-purple-200          : mat-color($mat-purple, 200);
$color-purple-300          : mat-color($mat-purple, 300);
$color-purple-400          : mat-color($mat-purple, 400);
$color-purple-500          : mat-color($mat-purple, 500);
$color-purple-600          : mat-color($mat-purple, 600);
$color-purple-700          : mat-color($mat-purple, 700);
$color-purple-800          : mat-color($mat-purple, 800);
$color-purple-900          : mat-color($mat-purple, 900);
$color-purple-a100         : mat-color($mat-purple, A100);
$color-purple-a200         : mat-color($mat-purple, A200);
$color-purple-a400         : mat-color($mat-purple, A400);
$color-purple-a700         : mat-color($mat-purple, A700);

$color-deep-purple              : mat-color($mat-deep-purple, 500);
$color-deep-purple-50           : mat-color($mat-deep-purple, 50);
$color-deep-purple-100          : mat-color($mat-deep-purple, 100);
$color-deep-purple-200          : mat-color($mat-deep-purple, 200);
$color-deep-purple-300          : mat-color($mat-deep-purple, 300);
$color-deep-purple-400          : mat-color($mat-deep-purple, 400);
$color-deep-purple-500          : mat-color($mat-deep-purple, 500);
$color-deep-purple-600          : mat-color($mat-deep-purple, 600);
$color-deep-purple-700          : mat-color($mat-deep-purple, 700);
$color-deep-purple-800          : mat-color($mat-deep-purple, 800);
$color-deep-purple-900          : mat-color($mat-deep-purple, 900);
$color-deep-purple-a100         : mat-color($mat-deep-purple, A100);
$color-deep-purple-a200         : mat-color($mat-deep-purple, A200);
$color-deep-purple-a400         : mat-color($mat-deep-purple, A400);
$color-deep-purple-a700         : mat-color($mat-deep-purple, A700);

$color-indigo              : mat-color($mat-indigo, 500);
$color-indigo-50           : mat-color($mat-indigo, 50);
$color-indigo-100          : mat-color($mat-indigo, 100);
$color-indigo-200          : mat-color($mat-indigo, 200);
$color-indigo-300          : mat-color($mat-indigo, 300);
$color-indigo-400          : mat-color($mat-indigo, 400);
$color-indigo-500          : mat-color($mat-indigo, 500);
$color-indigo-600          : mat-color($mat-indigo, 600);
$color-indigo-700          : mat-color($mat-indigo, 700);
$color-indigo-800          : mat-color($mat-indigo, 800);
$color-indigo-900          : mat-color($mat-indigo, 900);
$color-indigo-a100         : mat-color($mat-indigo, A100);
$color-indigo-a200         : mat-color($mat-indigo, A200);
$color-indigo-a400         : mat-color($mat-indigo, A400);
$color-indigo-a700         : mat-color($mat-indigo, A700);

$color-blue              : mat-color($mat-blue, 500);
$color-blue-50           : mat-color($mat-blue, 50);
$color-blue-100          : mat-color($mat-blue, 100);
$color-blue-200          : mat-color($mat-blue, 200);
$color-blue-300          : mat-color($mat-blue, 300);
$color-blue-400          : mat-color($mat-blue, 400);
$color-blue-500          : mat-color($mat-blue, 500);
$color-blue-600          : mat-color($mat-blue, 600);
$color-blue-700          : mat-color($mat-blue, 700);
$color-blue-800          : mat-color($mat-blue, 800);
$color-blue-900          : mat-color($mat-blue, 900);
$color-blue-a100         : mat-color($mat-blue, A100);
$color-blue-a200         : mat-color($mat-blue, A200);
$color-blue-a400         : mat-color($mat-blue, A400);
$color-blue-a700         : mat-color($mat-blue, A700);

$color-light-blue              : mat-color($mat-light-blue, 500);
$color-light-blue-50           : mat-color($mat-light-blue, 50);
$color-light-blue-100          : mat-color($mat-light-blue, 100);
$color-light-blue-200          : mat-color($mat-light-blue, 200);
$color-light-blue-300          : mat-color($mat-light-blue, 300);
$color-light-blue-400          : mat-color($mat-light-blue, 400);
$color-light-blue-500          : mat-color($mat-light-blue, 500);
$color-light-blue-600          : mat-color($mat-light-blue, 600);
$color-light-blue-700          : mat-color($mat-light-blue, 700);
$color-light-blue-800          : mat-color($mat-light-blue, 800);
$color-light-blue-900          : mat-color($mat-light-blue, 900);
$color-light-blue-a100         : mat-color($mat-light-blue, A100);
$color-light-blue-a200         : mat-color($mat-light-blue, A200);
$color-light-blue-a400         : mat-color($mat-light-blue, A400);
$color-light-blue-a700         : mat-color($mat-light-blue, A700);

$color-cyan              : mat-color($mat-cyan, 500);
$color-cyan-50           : mat-color($mat-cyan, 50);
$color-cyan-100          : mat-color($mat-cyan, 100);
$color-cyan-200          : mat-color($mat-cyan, 200);
$color-cyan-300          : mat-color($mat-cyan, 300);
$color-cyan-400          : mat-color($mat-cyan, 400);
$color-cyan-500          : mat-color($mat-cyan, 500);
$color-cyan-600          : mat-color($mat-cyan, 600);
$color-cyan-700          : mat-color($mat-cyan, 700);
$color-cyan-800          : mat-color($mat-cyan, 800);
$color-cyan-900          : mat-color($mat-cyan, 900);
$color-cyan-a100         : mat-color($mat-cyan, A100);
$color-cyan-a200         : mat-color($mat-cyan, A200);
$color-cyan-a400         : mat-color($mat-cyan, A400);
$color-cyan-a700         : mat-color($mat-cyan, A700);

$color-teal              : mat-color($mat-teal, 500);
$color-teal-50           : mat-color($mat-teal, 50);
$color-teal-100          : mat-color($mat-teal, 100);
$color-teal-200          : mat-color($mat-teal, 200);
$color-teal-300          : mat-color($mat-teal, 300);
$color-teal-400          : mat-color($mat-teal, 400);
$color-teal-500          : mat-color($mat-teal, 500);
$color-teal-600          : mat-color($mat-teal, 600);
$color-teal-700          : mat-color($mat-teal, 700);
$color-teal-800          : mat-color($mat-teal, 800);
$color-teal-900          : mat-color($mat-teal, 900);
$color-teal-a100         : mat-color($mat-teal, A100);
$color-teal-a200         : mat-color($mat-teal, A200);
$color-teal-a400         : mat-color($mat-teal, A400);
$color-teal-a700         : mat-color($mat-teal, A700);

$color-green              : mat-color($mat-green, 500);
$color-green-50           : mat-color($mat-green, 50);
$color-green-100          : mat-color($mat-green, 100);
$color-green-200          : mat-color($mat-green, 200);
$color-green-300          : mat-color($mat-green, 300);
$color-green-400          : mat-color($mat-green, 400);
$color-green-500          : mat-color($mat-green, 500);
$color-green-600          : mat-color($mat-green, 600);
$color-green-700          : mat-color($mat-green, 700);
$color-green-800          : mat-color($mat-green, 800);
$color-green-900          : mat-color($mat-green, 900);
$color-green-a100         : mat-color($mat-green, A100);
$color-green-a200         : mat-color($mat-green, A200);
$color-green-a400         : mat-color($mat-green, A400);
$color-green-a700         : mat-color($mat-green, A700);

$color-light-green              : mat-color($mat-light-green, 500);
$color-light-green-50           : mat-color($mat-light-green, 50);
$color-light-green-100          : mat-color($mat-light-green, 100);
$color-light-green-200          : mat-color($mat-light-green, 200);
$color-light-green-300          : mat-color($mat-light-green, 300);
$color-light-green-400          : mat-color($mat-light-green, 400);
$color-light-green-500          : mat-color($mat-light-green, 500);
$color-light-green-600          : mat-color($mat-light-green, 600);
$color-light-green-700          : mat-color($mat-light-green, 700);
$color-light-green-800          : mat-color($mat-light-green, 800);
$color-light-green-900          : mat-color($mat-light-green, 900);
$color-light-green-a100         : mat-color($mat-light-green, A100);
$color-light-green-a200         : mat-color($mat-light-green, A200);
$color-light-green-a400         : mat-color($mat-light-green, A400);
$color-light-green-a700         : mat-color($mat-light-green, A700);

$color-lime              : mat-color($mat-lime, 500);
$color-lime-50           : mat-color($mat-lime, 50);
$color-lime-100          : mat-color($mat-lime, 100);
$color-lime-200          : mat-color($mat-lime, 200);
$color-lime-300          : mat-color($mat-lime, 300);
$color-lime-400          : mat-color($mat-lime, 400);
$color-lime-500          : mat-color($mat-lime, 500);
$color-lime-600          : mat-color($mat-lime, 600);
$color-lime-700          : mat-color($mat-lime, 700);
$color-lime-800          : mat-color($mat-lime, 800);
$color-lime-900          : mat-color($mat-lime, 900);
$color-lime-a100         : mat-color($mat-lime, A100);
$color-lime-a200         : mat-color($mat-lime, A200);
$color-lime-a400         : mat-color($mat-lime, A400);
$color-lime-a700         : mat-color($mat-lime, A700);

$color-yellow              : mat-color($mat-yellow, 500);
$color-yellow-50           : mat-color($mat-yellow, 50);
$color-yellow-100          : mat-color($mat-yellow, 100);
$color-yellow-200          : mat-color($mat-yellow, 200);
$color-yellow-300          : mat-color($mat-yellow, 300);
$color-yellow-400          : mat-color($mat-yellow, 400);
$color-yellow-500          : mat-color($mat-yellow, 500);
$color-yellow-600          : mat-color($mat-yellow, 600);
$color-yellow-700          : mat-color($mat-yellow, 700);
$color-yellow-800          : mat-color($mat-yellow, 800);
$color-yellow-900          : mat-color($mat-yellow, 900);
$color-yellow-a100         : mat-color($mat-yellow, A100);
$color-yellow-a200         : mat-color($mat-yellow, A200);
$color-yellow-a400         : mat-color($mat-yellow, A400);
$color-yellow-a700         : mat-color($mat-yellow, A700);

$color-amber              : mat-color($mat-amber, 500);
$color-amber-50           : mat-color($mat-amber, 50);
$color-amber-100          : mat-color($mat-amber, 100);
$color-amber-200          : mat-color($mat-amber, 200);
$color-amber-300          : mat-color($mat-amber, 300);
$color-amber-400          : mat-color($mat-amber, 400);
$color-amber-500          : mat-color($mat-amber, 500);
$color-amber-600          : mat-color($mat-amber, 600);
$color-amber-700          : mat-color($mat-amber, 700);
$color-amber-800          : mat-color($mat-amber, 800);
$color-amber-900          : mat-color($mat-amber, 900);
$color-amber-a100         : mat-color($mat-amber, A100);
$color-amber-a200         : mat-color($mat-amber, A200);
$color-amber-a400         : mat-color($mat-amber, A400);
$color-amber-a700         : mat-color($mat-amber, A700);

$color-orange              : mat-color($mat-orange, 500);
$color-orange-50           : mat-color($mat-orange, 50);
$color-orange-100          : mat-color($mat-orange, 100);
$color-orange-200          : mat-color($mat-orange, 200);
$color-orange-300          : mat-color($mat-orange, 300);
$color-orange-400          : mat-color($mat-orange, 400);
$color-orange-500          : mat-color($mat-orange, 500);
$color-orange-600          : mat-color($mat-orange, 600);
$color-orange-700          : mat-color($mat-orange, 700);
$color-orange-800          : mat-color($mat-orange, 800);
$color-orange-900          : mat-color($mat-orange, 900);
$color-orange-a100         : mat-color($mat-orange, A100);
$color-orange-a200         : mat-color($mat-orange, A200);
$color-orange-a400         : mat-color($mat-orange, A400);
$color-orange-a700         : mat-color($mat-orange, A700);

$color-deep-orange              : mat-color($mat-deep-orange, 500);
$color-deep-orange-50           : mat-color($mat-deep-orange, 50);
$color-deep-orange-100          : mat-color($mat-deep-orange, 100);
$color-deep-orange-200          : mat-color($mat-deep-orange, 200);
$color-deep-orange-300          : mat-color($mat-deep-orange, 300);
$color-deep-orange-400          : mat-color($mat-deep-orange, 400);
$color-deep-orange-500          : mat-color($mat-deep-orange, 500);
$color-deep-orange-600          : mat-color($mat-deep-orange, 600);
$color-deep-orange-700          : mat-color($mat-deep-orange, 700);
$color-deep-orange-800          : mat-color($mat-deep-orange, 800);
$color-deep-orange-900          : mat-color($mat-deep-orange, 900);
$color-deep-orange-a100         : mat-color($mat-deep-orange, A100);
$color-deep-orange-a200         : mat-color($mat-deep-orange, A200);
$color-deep-orange-a400         : mat-color($mat-deep-orange, A400);
$color-deep-orange-a700         : mat-color($mat-deep-orange, A700);

$color-brown              : mat-color($mat-brown, 500);
$color-brown-50           : mat-color($mat-brown, 50);
$color-brown-100          : mat-color($mat-brown, 100);
$color-brown-200          : mat-color($mat-brown, 200);
$color-brown-300          : mat-color($mat-brown, 300);
$color-brown-400          : mat-color($mat-brown, 400);
$color-brown-500          : mat-color($mat-brown, 500);
$color-brown-600          : mat-color($mat-brown, 600);
$color-brown-700          : mat-color($mat-brown, 700);
$color-brown-800          : mat-color($mat-brown, 800);
$color-brown-900          : mat-color($mat-brown, 900);
$color-brown-a100         : mat-color($mat-brown, A100);
$color-brown-a200         : mat-color($mat-brown, A200);
$color-brown-a400         : mat-color($mat-brown, A400);
$color-brown-a700         : mat-color($mat-brown, A700);

$color-grey              : mat-color($mat-grey, 500);
$color-grey-50           : mat-color($mat-grey, 50);
$color-grey-100          : mat-color($mat-grey, 100);
$color-grey-200          : mat-color($mat-grey, 200);
$color-grey-300          : mat-color($mat-grey, 300);
$color-grey-400          : mat-color($mat-grey, 400);
$color-grey-500          : mat-color($mat-grey, 500);
$color-grey-600          : mat-color($mat-grey, 600);
$color-grey-700          : mat-color($mat-grey, 700);
$color-grey-800          : mat-color($mat-grey, 800);
$color-grey-900          : mat-color($mat-grey, 900);
$color-grey-a100         : mat-color($mat-grey, A100);
$color-grey-a200         : mat-color($mat-grey, A200);
$color-grey-a400         : mat-color($mat-grey, A400);
$color-grey-a700         : mat-color($mat-grey, A700);

$color-blue-grey              : mat-color($mat-blue-grey, 500);
$color-blue-grey-50           : mat-color($mat-blue-grey, 50);
$color-blue-grey-100          : mat-color($mat-blue-grey, 100);
$color-blue-grey-200          : mat-color($mat-blue-grey, 200);
$color-blue-grey-300          : mat-color($mat-blue-grey, 300);
$color-blue-grey-400          : mat-color($mat-blue-grey, 400);
$color-blue-grey-500          : mat-color($mat-blue-grey, 500);
$color-blue-grey-600          : mat-color($mat-blue-grey, 600);
$color-blue-grey-700          : mat-color($mat-blue-grey, 700);
$color-blue-grey-800          : mat-color($mat-blue-grey, 800);
$color-blue-grey-900          : mat-color($mat-blue-grey, 900);
$color-blue-grey-a100         : mat-color($mat-blue-grey, A100);
$color-blue-grey-a200         : mat-color($mat-blue-grey, A200);
$color-blue-grey-a400         : mat-color($mat-blue-grey, A400);
$color-blue-grey-a700         : mat-color($mat-blue-grey, A700);

