<div class="page">
    <md-toolbar class="header-toolbar">
        <ol class="breadcrumb">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/layouts']">Tables</a></li>
            <li class="active">Ng2 Table</li>
        </ol>
        <span fxFlex></span>
        <div fxShow="false" fxShow.gt-xs>
            <md-chip-list>
                <md-chip>
                    <a target="_blank" href="https://github.com/valor-software/ng2-table">Official Website</a>
                </md-chip>
            </md-chip-list>

        </div>

    </md-toolbar>

    <md-card class="card-demo">

        <md-card-content>
            <div fxLayout="row">
                <md-input-container fxFlex="50%">
                    <input fxFlex *ngIf="config.filtering" mdInput placeholder="Search names" [ngTableFiltering]="config.filtering" (tableChanged)="onChangeTable(config)"
                    />
                    <md-icon mdPrefix>search</md-icon>
                </md-input-container>

                <span fxFlex></span>
                <div fxShow="false" fxShow.gt-xs>
                    <button md-icon-button (click)="onClick">
                        <md-icon class="md-48">input</md-icon>
                    </button>
                    <button md-icon-button (click)="onClick">
                        <md-icon class="md-48">settings</md-icon>
                    </button>
                </div>
            </div>

            <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
            </ng-table>
        </md-card-content>
        <md-card-actions align="start">
            <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
                [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
            </pagination>
        </md-card-actions>
    </md-card>
</div>