<md-sidenav-container class="ng-root" fullscreen>
  
  <app-navbar></app-navbar>

  <md-sidenav #start>
    <md-nav-list>
      <a *ngFor="let navItem of navItems" md-list-item (click)="start.close()" [routerLink]="[navItem.route]">
        {{navItem.name}}
      </a>
      <hr>
      <a md-list-item (click)="start.close()" [routerLink]="['baseline']">
        Baseline
      </a>
    </md-nav-list>
    <button md-button (click)="start.close()">CLOSE</button>
  </md-sidenav>

  <div #root="$implicit" dir="ltr" class="ng-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>