<md-sidenav-container class="ng-root" fullscreen>
  <md-sidenav #start [opened]="sidebarExpanded$ | async" (close)="closeSidebar()" (open)="openSidebar()">
    <div class="site-menubar-header">
      <div class="cover overlay">
        <img class="cover-image" src="../assets/images/dashboard-header.jpg" alt="...">
        <div class="overlay-panel vertical-align overlay-background">
          <div class="vertical-align-middle">
            <div class="avatar avatar-lg" href="javascript:void(0)">
              <img md-list-avatar src="../assets/avatars/1.png" alt="">
            </div>
            <div class="site-menubar-info">
              <h5 class="site-menubar-user">Krist</h5>
              <p class="site-menubar-email">binhbv@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <md-nav-list dense>

      <md-list-item [routerLink]="'dashboard'" (click)="start.close()">
        <md-icon md-list-icon>dashboard</md-icon>
        <span md-line>Dashboard</span>
      </md-list-item>

      <!--Layout Menu-->
      <h3 md-subheader>Layout</h3>
      <md-list-item *ngFor="let item of navLayout" (click)="start.close()" [routerLink]="[item.route]">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <span md-line>{{item.name}}</span>
      </md-list-item>
      <!--Layout Menu-->

      <!--Layout Menu-->
      <h3 md-subheader>Layout</h3>
      <md-list-item *ngFor="let item of navLayout" [routerLink]="[item.route]">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <span md-line>{{item.name}}</span>
      </md-list-item>
      <!--Layout Menu-->
      <!--Layout Menu-->
      <h3 md-subheader>Layout</h3>
      <md-list-item *ngFor="let item of navLayout" [routerLink]="[item.route]">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <span md-line>{{item.name}}</span>
      </md-list-item>
      <!--Layout Menu-->
      <!--Layout Menu-->
      <h3 md-subheader>Layout</h3>
      <md-list-item *ngFor="let item of navLayout" [routerLink]="[item.route]">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <span md-line>{{item.name}}</span>
      </md-list-item>
      <!--Layout Menu-->
      <!--Layout Menu-->
      <h3 md-subheader>Layout</h3>
      <md-list-item *ngFor="let item of navLayout" [routerLink]="[item.route]">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <span md-line>{{item.name}}</span>
      </md-list-item>
      <!--Layout Menu-->
      <!--Layout Menu-->
      <h3 md-subheader>Layout</h3>
      <md-list-item *ngFor="let item of navLayout" [routerLink]="[item.route]">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <span md-line>{{item.name}}</span>
      </md-list-item>
      <!--Layout Menu-->
      <!--Layout Menu-->
      <h3 md-subheader>Layout</h3>
      <md-list-item *ngFor="let item of navLayout" [routerLink]="[item.route]">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <span md-line>{{item.name}}</span>
      </md-list-item>
      <!--Layout Menu-->
      <!--Layout Menu-->
      <h3 md-subheader>Layout</h3>
      <md-list-item *ngFor="let item of navLayout" [routerLink]="[item.route]">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <span md-line>{{item.name}}</span>
      </md-list-item>
      <!--Layout Menu-->
      <!--Layout Menu-->
      <h3 md-subheader>Layout</h3>
      <md-list-item *ngFor="let item of navLayout" [routerLink]="[item.route]">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <span md-line>{{item.name}}</span>
      </md-list-item>
      <!--Layout Menu-->
      <!--Layout Menu-->
      <h3 md-subheader>Layout</h3>
      <md-list-item *ngFor="let item of navLayout" [routerLink]="[item.route]">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <span md-line>{{item.name}}</span>
      </md-list-item>
      <!--Layout Menu-->

    </md-nav-list>

  </md-sidenav>

  <app-navbar></app-navbar>

  <div #root="$implicit" dir="ltr" class="ng-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>