body {
  .ng-content {
    padding-top: 132px;
    box-sizing: border-box;
  }
  .mat-sidenav {
    min-width: 15vw;
    top: 66px;
  }
  
}

// stretch to screen size in fullscreen mode
.ng-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
