.site-menubar-header{
  height: 71px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .cover {
    height: 100%;
    .cover-image {
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin-bottom: 0;
    }
  }
  .overlay {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .avatar {
    float: left;
    margin-right: 20px;
  }
}

.overlay-background {
    background: rgba(0,0,0,.5);
}
.overlay-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px 20px;
    color: #fff;
}
