.maintenance-page {
  .main {
    position: static;
    padding: 0;
    min-height: 500px;
    .maintenancescreen {
      left: 50%;
      margin-left: -239px;
      margin-top: -270px;
      position: absolute;
      top: 50%;
      width: 478px;
      text-align: center;
      i {
        font-size: 48px;
      }
      @media (max-width: $screen-sm) {
        height: auto;
        left: 5%;
        margin-left: 0;
        margin-top: 25%;
        position: absolute;
        top: 0;
        width: 90%;
      }
      md-card {
        background: #FFF;
        overflow: hidden;
        padding: 13px;
        position: relative;
        .mat-card-avatar {
          height: 70px;
          width: 70px;
        }
      }
    }
  }
}