<md-toolbar class="page-header">
  <ol class="breadcrumb">
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/pages']">Pages</a></li>
    <li class="active">Google Map</li>
  </ol>
  <span fxFlex></span>
  <md-chip-list>
    <md-chip>
      <a target="_blank" href="https://angular-maps.com/">Official Website</a>
    </md-chip>
  </md-chip-list>
</md-toolbar>
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="50" fxFlex="100">
    <md-card>
      <md-card-header>
        <md-card-title>Standar</md-card-title>
      </md-card-header>
      <hr class="ma-0">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true" (mapClick)="mapClicked($event)">

        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
          [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

          <agm-info-window>
            <strong>InfoWindow content</strong>
          </agm-info-window>

        </agm-marker>

        <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
        </agm-circle>

      </agm-map>
    </md-card>
  </div>

  <div fxFlex.gt-sm="50" fxFlex="100">
    <md-card>
      <md-card-header>
        <md-card-title>Silver</md-card-title>
      </md-card-header>
      <hr class="ma-0">
        <agm-map [styles]="silverStyle" [latitude]="41.38155" [longitude]="2.13752" [zoom]="12" [disableDefaultUI]="false" [zoomControl]="true"
          (mapClick)="mapClicked($event)">

        </agm-map>
    </md-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="50" fxFlex="100">
    <md-card>
      <md-card-header>
        <md-card-title>Retro</md-card-title>
      </md-card-header>
      <hr class="ma-0">
        <agm-map [styles]="retroStyle" [latitude]="41.38155" [longitude]="2.13752" [zoom]="12" [disableDefaultUI]="false" [zoomControl]="true"
          (mapClick)="mapClicked($event)">

        </agm-map>
    </md-card>
  </div>

  <div fxFlex.gt-sm="50" fxFlex="100">
    <md-card>
      <md-card-header>
        <md-card-title>Dark</md-card-title>
      </md-card-header>
      <hr class="ma-0">
        <agm-map [styles]="darkStyle" [latitude]="41.38155" [longitude]="2.13752" [zoom]="12" [disableDefaultUI]="false" [zoomControl]="true"
          (mapClick)="mapClicked($event)">

        </agm-map>
    </md-card>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="50" fxFlex="100">
    <md-card>
      <md-card-header>
        <md-card-title>Night</md-card-title>
      </md-card-header>
      <hr class="ma-0">
        <agm-map [styles]="nightStyle" [latitude]="41.38155" [longitude]="2.13752" [zoom]="12" [disableDefaultUI]="false" [zoomControl]="true"
          (mapClick)="mapClicked($event)">

        </agm-map>
    </md-card>
  </div>

  <div fxFlex.gt-sm="50" fxFlex="100">
    <md-card>
      <md-card-header>
        <md-card-title>Aubergine</md-card-title>
      </md-card-header>
      <hr class="ma-0">
        <agm-map [styles]="aubergineStyle" [latitude]="41.38155" [longitude]="2.13752" [zoom]="12" [disableDefaultUI]="false" [zoomControl]="true"
          (mapClick)="mapClicked($event)">

        </agm-map>
    </md-card>
  </div>
</div>