@import "pages/error";
@import "pages/invoice";
@import "pages/profile";
@import "pages/lock-screen";
@import "pages/login-screen";
.pages {
  height: 100%;
  position: relative; // background-color: #eceff1;
  background: url(../assets/images/mybg.png) #fff;
  direction: ltr;
}