/* You can add global styles to this file, and also import other style files */
@import "mixin/bi-app/bi-app-ltr";
@import 'mixin/misc';
@import 'mixin/flex';

@import 'theme';

@import 'vars-site';
// // Sections
// // -------------------------------
// @import "sections/site-navbar";
@import "sections/page";
// @import "sections/page-header";
@import "sections/site-sidebar";
@import "component";

.avatar-lg {
    width: 50px;
}
.avatar {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    vertical-align: bottom;
    border-radius: 1000px;
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        border: 0 none;
        border-radius: 1000px;
    }
}

// pace loading css
.pace .pace-activity {top: 25px; left: 5px} .pace .pace-progress-inner {box-shadow: none;}
