/* You can add global styles to this file, and also import other style files */
@import "mixin/bi-app/bi-app-ltr";
@import 'mixin/misc';
@import 'mixin/flex';
@import 'theme';
@import 'vars-color';
@import 'vars-site';

// utilities
@import 'utilities/background';

// // Sections
// // -------------------------------
// @import "sections/site-navbar";
@import "sections/page";
@import "sections/site-sidebar";
@import "sections/site-chatbar";
@import "sections/breadcrumbs";

// // Components
// // -------------------------------
// @import "sections/site-navbar";
@import "components/ng2-table";
@import "components/ngx-table";

// Material
@import "material/cards";

.avatar {
  position: relative;
  display: inline-block;
  width: 40px;
  white-space: nowrap;
  vertical-align: bottom;
  border-radius: 1000px;
  i {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 100%;
  }
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0 none;
    border-radius: 1000px;
  }
}
.avatar-lg {
  width: 50px;
  i {
    width: 12px;
    height: 12px;
  }
}
.avatar-online i {
  background-color: #4caf50;
}
.avatar-off i {
  background-color: #616161;
}
.avatar-busy i {
  background-color: #ff9800;
}
.avatar-away i {
  background-color: #f44336;
}
// pace loading css
.pace .pace-activity {top: 25px; left: 5px} .pace .pace-progress-inner {box-shadow: none;}

a:hover,
a:focus {
  text-decoration: none;
}

.page {
    // max-width: $page-centered-max-width;
    margin: 0 auto;
    .mat-toolbar{
     background-color: transparent;
     padding: 5px 0;
     font-size: 14px;
     line-height: 14px;
    }
}