/* You can add global styles to this file, and also import other style files */
@import "mixin/bi-app/bi-app-ltr";
@import 'mixin/misc';
@import 'mixin/flex';
@import 'theme';
@import 'vars-site';

// utilities
@import 'utilities';

// // Sections
// // -------------------------------
@import 'sections';

// // Components
// // -------------------------------
@import "components";

// Material
@import "material";

// bootstrap extend
@import 'bootstrap_extend';

// // pages
// // -------------------------------
@import "pages";

html, body {
  height: 100%;
}

body {
  font-weight: $font-weight-base;
  font-family: $font-family-base;
  margin: $body-margin-base;
  height: 100%;
  background: url(../assets/images/mybg.png);
}