//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$headings-font-family:    inherit !default;
$font-weight-override:    false;
$font-weight-light:       300;
$font-weight-normal:      400;
$font-weight-medium:      500;
$font-weight-bold:        700;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;
$inverse:               white;
//== Site Menubar
//
//##
$site-menubar-header-height:        140px;

$site-menubar-bg:                   $inverse;
$site-menubar-width:                260px;
$site-menubar-transform:            -240px;

$site-menubar-padding-horizontal:   25px;

$site-menubar-color:                fade($text-color, 90%);
$site-menubar-font-family:          $headings-font-family;

$site-menubar-box-shadow:           3px 0 6px 0 rgba(0,0,0,0.05), 3px 0 15px 0 rgba(0,0,0,0.1);

//== Site Menubar Fold
//
//##
$site-menubar-fold-width:           70px;
$site-menubar-fold-sub-width:       240px;
$site-menubar-fold-sub-bg:          $inverse;
$site-menubar-fold-sub-shadow:      1px 1px 4px 0px rgba(0,0,0,.1);

//== Site Menubar Hover
//
//##
$site-menubar-hover-transform:      -240px;

//== Site Menu
//
//##
$site-menu-top-weight:              $font-weight-bold;

$site-menu-top-hover-color:         $gray-darker;
$site-menu-top-hover-bg:            fade($gray-base, 5%);

// $site-menu-top-active-head-bg:     $color-purple;
// $site-menu-top-active-head-bg:     fade($color-primary-600, 10%);
$site-menu-top-active-head-bg:      transparent;
$site-menu-top-active-bg:           $site-menu-top-hover-bg;
$site-menu-top-active-border-color: rgba(0,0,0,.04);
$site-menu-top-active-color:        $site-menu-top-hover-color;

$site-menu-top-open-head-bg:        transparent;
//$site-menu-top-open-bg:             transparent;
$site-menu-top-open-bg:             $site-menu-top-active-bg;
$site-menu-top-open-color:          $site-menu-top-active-color;
$site-menu-top-height:              38px;

$site-menu-sub-bg:                 transparent;
$site-menu-sub-color:              $site-menubar-color;
$site-menu-sub-hover-bg:           rgba(255, 255, 255, .02);
$site-menu-sub-hover-color:        $site-menu-top-hover-color;
$site-menu-sub-active-bg:          $site-menu-top-hover-bg;
$site-menu-sub-active-color:       $site-menu-top-hover-color;
$site-menu-sub-open-bg:            $site-menu-top-hover-bg;
$site-menu-sub-open-color:         $site-menu-sub-active-color;
$site-menu-sub-height:             34px;

$site-menu-category-color:         $gray-dark;

$site-menu-has-sub-border-color:   rgba(0, 0, 0, .06);
$site-menu-padding-horizontal:     $site-menubar-padding-horizontal;

//== Site Menubar light
//
//##
$site-menubar-dark-color:                fade($gray, 90%);
$site-menubar-dark-bg:                   $gray-base;

$site-menubar-dark-footer-link-bg:         rgb(33, 41, 46);
$site-menubar-dark-footer-link-hover-bg:   rgb(30, 36, 39);

//== Site Menu light
//
//##
$site-menu-dark-top-open-head-bg:      transparent;
$site-menu-dark-top-hover-bg:          rgba(255, 255, 255, .02);
$site-menu-dark-top-active-bg:         darken($site-menubar-dark-bg, 1%);
$site-menu-dark-top-open-bg:           $site-menu-dark-top-active-bg;
$site-menu-dark-sub-active-bg:         rgba(0, 0, 0, .06);
$site-menu-dark-sub-open-bg:           $site-menu-dark-sub-active-bg;
$site-menu-dark-has-sub-border-color:  $site-menu-dark-sub-active-bg;

$site-menu-dark-top-hover-color:       fade($inverse, 80%);
$site-menu-dark-top-active-color:      $inverse;
$site-menu-dark-sub-active-color:      $inverse;
$site-menu-dark-sub-open-color:        $site-menu-dark-sub-active-color;
$site-menu-dark-sub-hover-color:       $site-menu-dark-top-hover-color;