<!-- Page -->
<div class="page-error layout-full">
  <div class="page vertical-align text-center">
    <div class="page-content vertical-align-middle">
      <header>
        <h1 class="mat-h1">404</h1>
        <p>Page Not Found !</p>
      </header>
      <p class="error-advise">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
      <a md-raised-button color="accent" href="#">GO TO HOME PAGE</a>
      <footer class="page-copyright">
        <p>© {{today | date:'yyyy'}}. All RIGHT RESERVED.</p>
      </footer>
    </div>
  </div>
</div>
<!-- End Page -->