<div class="site-skintools" [class.is-open]="isOpenSkinTool">
    <div class="site-skintools-inner">
        <div class="site-skintools-toggle">
            <button md-icon-button (click)="isOpenSkinTool = !isOpenSkinTool">
              <md-icon class="md-24">settings</md-icon>
          </button>
        </div>
        <div class="site-skintools-content">
            <md-card class="ma-0">
                <md-card-content>
                    <md-tab-group [selectedIndex]="0" [disableRipple]="true">
                        <md-tab label="Settings">
                            <h4 class="site-skintools-title">Primary Skins</h4>
                            <md-grid-list cols="4" rowHeight="1:1" [gutterSize]="'1px'">
                                <md-grid-tile  *ngFor="let theme of [1,2,3,4]" rowHeight="1:1">
                                    <div class="theme-picker" (click)="changeTheme(theme)">
                                        <md-icon *ngIf="currentTheme === theme" class="theme-chosen-icon">check_circle</md-icon>
                                        <div class="theme-chosen-color theme{{theme}}"></div>
                                    </div>
                                </md-grid-tile>
                            </md-grid-list>
                            <h4 class="site-skintools-title">Layout Skins</h4>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <span fxFlex>Boxed layout</span>
                                <md-slide-toggle [(ngModel)]="boxed" (change)="boxedLayout()"></md-slide-toggle>
                            </div>
                        </md-tab>
                        <!-- <md-tab label="Layout">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <span fxFlex>Boxed layout</span>
                                <md-slide-toggle (change)="boxedLayout()"></md-slide-toggle>
                            </div>
                            <div fxLayout="row" class="hide" fxLayoutAlign="start center">
                                <span fxFlex>RTL Support</span>
                                <md-slide-toggle (change)="changeRtl()"></md-slide-toggle>
                            </div>
                        </md-tab>
                        <md-tab label="Primary">
                            <div fxLayout="row" *ngFor="let color of colors" fxLayoutAlign="start center">
                                <span fxFlex>{{color}}</span>
                                <md-radio-button class="{{color}}"></md-radio-button>
                            </div>
                        </md-tab> -->
                    </md-tab-group>
                </md-card-content>
                <md-card-actions align="end">
                    <button class="full-width" color="primary" md-raised-button (click)="resetDefault()">Default</button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>