<md-card>

  <md-card-content>
    <!--<button md-button (click)="showSelect=!showSelect">SHOW SELECT</button>-->
    <div fxLayout="row wrap" class="demo-select">
      <md-card>
        <md-card-subtitle>ngModel</md-card-subtitle>

        <md-card-content>
          <md-select class="full-width" placeholder="Drink" [color]="drinksTheme" [(ngModel)]="currentDrink" [required]="drinksRequired"
            [disabled]="drinksDisabled" [floatPlaceholder]="floatPlaceholder" #drinkControl="ngModel">
            <md-option>None</md-option>
            <md-option *ngFor="let drink of drinks" [value]="drink.value" [disabled]="drink.disabled">
              {{ drink.viewValue }}
            </md-option>
          </md-select>
          <p> Value: {{ currentDrink }} </p>
          <p> Touched: {{ drinkControl.touched }} </p>
          <p> Dirty: {{ drinkControl.dirty }} </p>
          <p> Status: {{ drinkControl.control?.status }} </p>
          <p>
            <label for="floating-placeholder">Floating placeholder:</label>
            <md-button-toggle-group [(ngModel)]="floatPlaceholder">
              <md-button-toggle value="auto">Auto</md-button-toggle>
              <md-button-toggle value="always">Always</md-button-toggle>
              <md-button-toggle value="never">Never</md-button-toggle>
            </md-button-toggle-group>
          </p>
          <p>
            <label for="drinks-theme">Theme:</label>
            <md-button-toggle-group name="pies" [(ngModel)]="drinksTheme" [vertical]="isVertical">
              <md-button-toggle *ngFor="let theme of availableThemes" [value]="theme.value">
                {{ theme.name }}
              </md-button-toggle>
            </md-button-toggle-group>
          </p>

        </md-card-content>
        <md-card-actions>
          <button md-button (click)="currentDrink='water-2'">SET VALUE</button>
          <button md-button (click)="drinksRequired=!drinksRequired">TOGGLE REQUIRED</button>
          <button md-button (click)="drinksDisabled=!drinksDisabled">TOGGLE DISABLED</button>
          <button md-button (click)="drinkControl.reset()">RESET</button>
        </md-card-actions>
      </md-card>

      <md-card>
        <md-card-subtitle>Multiple selection</md-card-subtitle>

        <md-card-content>
          <md-select class="full-width" multiple [color]="pokemonTheme" placeholder="Pokemon" [(ngModel)]="currentPokemon" [required]="pokemonRequired"
            [disabled]="pokemonDisabled" #pokemonControl="ngModel">
            <md-option *ngFor="let creature of pokemon" [value]="creature.value">
              {{ creature.viewValue }}
            </md-option>
          </md-select>
          <p> Value: {{ currentPokemon }} </p>
          <p> Touched: {{ pokemonControl.touched }} </p>
          <p> Dirty: {{ pokemonControl.dirty }} </p>
          <p> Status: {{ pokemonControl.control?.status }} </p>
          <p>
            <label for="pokemon-theme">Theme:</label>
            <md-button-toggle-group name="pies" [(ngModel)]="pokemonTheme" [vertical]="isVertical">
              <md-button-toggle *ngFor="let theme of availableThemes" [value]="theme.value">
                {{ theme.name }}
              </md-button-toggle>
            </md-button-toggle-group>
          </p>

        </md-card-content>
        <md-card-actions>
          <button md-button (click)="setPokemonValue()">SET VALUE</button>
          <button md-button (click)="pokemonRequired=!pokemonRequired">TOGGLE REQUIRED</button>
          <button md-button (click)="pokemonDisabled=!pokemonDisabled">TOGGLE DISABLED</button>
          <button md-button (click)="pokemonControl.reset()">RESET</button>
        </md-card-actions>
      </md-card>

      <div *ngIf="showSelect">
        <md-card>
          <md-card-subtitle>formControl</md-card-subtitle>

          <md-card-content>
            <md-select class="full-width" placeholder="Food i would like to eat" [formControl]="foodControl">
              <md-option *ngFor="let food of foods" [value]="food.value"> {{ food.viewValue }}</md-option>
            </md-select>
            <p> Value: {{ foodControl.value }} </p>
            <p> Touched: {{ foodControl.touched }} </p>
            <p> Dirty: {{ foodControl.dirty }} </p>
            <p> Status: {{ foodControl.status }} </p>

          </md-card-content>

          <md-card-actions>
            <button md-button (click)="foodControl.setValue('pizza-1')">SET VALUE</button>
            <button md-button (click)="toggleDisabled()">TOGGLE DISABLED</button>
            <button md-button (click)="foodControl.reset()">RESET</button>
          </md-card-actions>
        </md-card>
      </div>

      <div *ngIf="showSelect">
        <md-card>
          <md-card-subtitle>Change event</md-card-subtitle>

          <md-card-content>
            <md-select class="full-width" placeholder="Starter Pokemon" (change)="latestChangeEvent = $event">
              <md-option *ngFor="let creature of pokemon" [value]="creature.value">{{ creature.viewValue }}</md-option>
            </md-select>

            <p> Change event value: {{ latestChangeEvent?.value }} </p>
          </md-card-content>
        </md-card>
      </div>

    </div>

  </md-card-content>

</md-card>