.demo-chart {
  height: 400px;
}
.mat-slide-toggle{
    padding-top: 5px;
}
.handle {
    cursor: move;
}

// Map 
.sebm-google-map-container {
  height: 450px;
}

.contact {
  .mat-fab {
    position: absolute;
    right: 10px;
    top: 25px;
  }
  .mat-list{
    height: 395px;
    overflow-y: scroll;
  }
}

.dashboard {
    margin: 10px 0px 10px;
    .card-widget{
      padding: 10px;
    }
}

