.demo-chart {
  height: 400px;
}

.mat-slide-toggle {
  padding-top: 5px;
}

.handle {
  cursor: move;
}

// Map 
agm-map {
  height: 470px;
}

@media(max-width: 768) {
  agm-map {
    height: 300px;
  }
  .contact {
    .mat-list {
      height: 350px;
    }
  }
}

.contact {
  .mat-fab {
    position: absolute;
    right: 10px;
    top: 25px;
  }
  .mat-list {
    height: 395px;
    overflow-y: scroll;
  }
}

.dashboard {
  margin: 10px 0px 10px;
  .card-widget {
    padding: 10px;
  }
}

.table>tbody>tr>td {
  vertical-align: middle !important;
}